Package: testapp-desktop
Architecture: amd64
Maintainer: Jasper Michalke<jasper.michalke@jasmich.de>
Dependencies: imagemagick, texlive-base 
Priority: optional
Version: {{.version}}
Description: Learn better with TestApp!
