name: testapp-desktop
base: core18
version: '{{.version}}'
summary: Learn better with TestApp!
description: |
  Learn better with TestApp!
confinement: devmode
grade: devel
apps:
  testapp-desktop:
    command: test_app_flutter
    desktop: local/TestApp.desktop
parts:
  desktop:
    plugin: dump
    source: snap
  assets:
    plugin: dump
    source: build/assets
  app:
    plugin: dump
    source: build
    stage-packages:
      - libx11-6
      - libxrandr2
      - libxcursor1
      - libxinerama1
